{% extends "base.html" %}
{% block title %} {{ block.super }} Index {% endblock %}
{% block content %}
{% if items %}
<table border="1">
  <thead>
    <tr>
      <th>No.</th>
      <th>title</th>
      <th>description</th>
      <th>limit</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.limit_date }}</td>
      </tr>
    {%  endfor %}
  </tbody>
</table>
{% else %}
  <h1>Not Items</h1>
{% endif %}
{% endblock %}
